# ========================
# DATA ARTIFACTS
# ========================

# Chỉ bỏ qua dữ liệu parquet nặng
*.parquet
**/*.parquet

# Bỏ qua cache và model đã huấn luyện
model/
**/model/

temp/
**/temp/

# ========================
# PYTHON
# ========================
__pycache__/
*.pyc

# ========================
# JUPYTER
# ========================
.ipynb_checkpoints/

# ========================
# ENV
# ========================
.env
venv/
.venv/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
